<div class="class">

<h6>treino-component works!</h6>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, odit molestias repudiandae voluptates excepturi impedit provident rem suscipit iure labore quam veniam rerum non neque ea praesentium, soluta obcaecati doloremque!
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure totam, corporis fugiat dolorem delectus eaque assumenda, facilis tenetur atque corrupti distinctio harum eveniet nostrum accusantium saepe possimus et. Accusamus, recusandae?
Lorem, ipsum dolor sit amet consectetur adipisicing elit. At deleniti eaque et unde sed maiores officia tenetur enim vitae, repellat harum porro, libero culpa fugit facilis amet laborum necessitatibus iusto.


</div>
